{% extends "main/base.html" %}
{% load active_link_tags %}

{% block content %}

<div class="container mx-auto">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3 class="text-center">403 Error</h3>
        <h3 class="text-center">You are not allowed here</h3>
        <div class="text-center">
            <button class="btn btn-primary"><a class="text-dark" href="{% url 'home' %}">Go back to homepage</a></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
