{% load static %}
{% load active_link_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>BikeDisco | Discover shared bikes and Disco!</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>

    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Bike Disco</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button class="btn btn-success" id="review-btn">Write Review</button>
            </li>
            <li class="nav-item">
              <a class="nav-link {% active_link 'home' 'active' %}" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% active_link 'review' 'active' %}" href="{% url 'review' %}">Reviews</a>
            </li>     
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% active_link 'account_logout' 'active' %}" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% active_link 'account_signup' 'active' %}" href="{% url 'account_signup' %}">Join</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% active_link 'account_login' 'active' %}" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}                   
            <li class="nav-item">
              <a class="nav-link {% active_link 'contact' 'active' %}" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap"
    ></script>
    <script src="https://kit.fontawesome.com/b60d8311c0.js" crossorigin="anonymous"></script>
    <script>const targetUrl = "{% url 'write_review' %}";</script>
    <footer>
      APIs are from CityBikes API Documentation
      https://api.citybik.es/v2/#net_resource
    </footer>
  </body>
</html>
