{% extends "main/base.html" %}
{% load active_link_tags %}

{% block content %}

<h3 class="text-center">Edit your profile</h3>

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form method="POST">
          {% csrf_token %}
          
          {{ profile_form.as_p }}
          <button class="btn btn-success" type="submit" name="update_profile" onclick="return confirm('Are you sure you want to change your profile?')">Update</button>
          <a class="btn btn-danger" href="{% url 'delete_profile' %}">Delete</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
