{% extends "main/base.html" %}
{% load active_link_tags %}

{% block content %}

<h3 class="text-center">Edit your review</h3>

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form method="POST">
          {% csrf_token %}
          
          {{ form.as_p }}
          <select id="bike-station-country" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-country">
            <option value="" disabled selected>Select Country</option>
          </select>
          <select id="bike-station-city" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-city">
            <option value="" disabled selected>Select City</option>
          </select>
          <select id="bike-station-name" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-name">
            <option value="" disabled selected>Select Station</option>
          </select>
        
          <button class="btn btn-success" type="submit"  onclick="return confirm('Are you sure you want to change this review?')">Update</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
