{% extends "main/base.html" %}
{% load active_link_tags %}

{% block content %}

<h3 class="text-center">Share your thoughts about the station for better improvements!</h3>

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post">
          {% csrf_token %}
          
          {{ form.as_p }}
          <select id="bike-station-country" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-country">
            <option value="" disabled selected>Select Country</option>
          </select>
          <select id="bike-station-city" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-city">
            <option value="" disabled selected>Select City</option>
          </select>
          <select id="bike-station-name" class="btn btn-secondary btn-sm dropdown-toggle" name="bike-station-name">
            <option value="" disabled selected>Select Station</option>
          </select>
        
          <button class="btn btn-success" type="submit">Post</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
