{% extends "main/base.html" %}
{% load active_link_tags %}

{% block content %}

    <div class="container mx-auto mb-5">
      <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">
          <h1 class="display-5 fw-bold">Welcome to BikeDisco</h1> 
          <h2 class="display-7 fw-bold">BikeDisco provides information of shared bicycle stations in Ireland and UK</h2>
            <p class="fs-4">
              <br>We will expand to more countries in the near future. 
              <br>You can use the Google Maps to see the location of the station and also the number of available bicycles on real time.
              <br>Sharing is caring. Join us and share your experience with the station and also review other stations on our review section.
            </p>   
        </div>
      </div>
      <div id="map" class="col-12"></div>
    </div>
    <script>
      // to target the post_review.html when clicking onto the 'write a review' from the infowindow
      const targetUrl = "{% url 'write_review' %}";
    </script>
{% endblock %}
