body {
  padding-top: 100px;
}

.navbar-brand {
  margin-left: 10px;
}

#map {
    height: 100%;
    min-height: 600px;
}

#paginate-bar {
  margin-top: 20px;
}

/* #review-btn {
  position: relative;
  left: 40px;
  margin: 0 0 10px 0;
} */
